h2.prose.prose-2xl.font-medium.text-center.text-base-content.mb-4 Your current openings
if error
  p.text-center= error
else
  //- include filter_buttons.pug 
  ul.flex.flex-col.gap-8.bg-secondary.rounded-xl.py-10.px-8
    each job in jobs 
      include job.pug
