h2.prose.prose-2xl.text-center.mb-6 Your current openings
if error
  p.text-center= error
else
  include filter_buttons.pug 
  ul.flex.flex-col.w-4_5.mx-auto.gap-8
    each job in jobs 
      include job.pug
