
div.relative
  h2.prose.prose-2xl.font-medium.text-center.text-base-content.mb-4 Your companies
  button.absolute.top-1.right-0.btn.btn-secondary.rounded.py-2.h-fit.min-h-fit(
    hx-get="companies/new"
    hx-target="#content"
    hx-push-url="true"
  ) + New
ul.flex.flex-col.gap-8.bg-primary.rounded-xl.py-10.px-8
  each company in companies
    include company.pug
  each company in paginated_companies
    include paginated_company.pug
p We are currently only able to handle up to 3 active companies per user.


