doctype html
html(data-theme="wise")
  head
    meta(charset='UTF-8')
    meta(name='viewport', content="width=device-width, initial-scale=1" )

    title Job Scout

    link(rel='preconnect', href='https://fonts.googleapis.com')
    link(rel='preconnect', href='https://fonts.gstatic.com', crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap", rel='stylesheet')
    link(rel='stylesheet', type="text/css", href='/styles.css')

    script(src="https://unpkg.com/htmx.org@2.0.2", integrity="sha384-Y7hw+L/jvKeWIRRkqWYfPcvVxHzVzn5REgzbawhxAuQGwX1XWe70vji+VSeHOThJ", crossorigin="anonymous")

  body#body.flex.flex-col
    include header.pug
    main.w-11_12.mt-8.max-w-4xl.mx-auto.grow.flex.gap-2
      //- include sidebar.pug
      div#content.grow
        case content 
          when 'login'
            include auth/login.pug
          when 'sign up'
            include auth/signup.pug
          when 'error'
            include error.pug
          when 'current jobs'
            include current_jobs/current_jobs.pug
          when 'companies'
            include companies/companies.pug
          when 'new company'
            include companies/new_company_form.pug
          when 'keywords'
            include keywords/keywords.pug